# Supabase Configuration
# URL of your Supabase project (from Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://zktzrxuwomeclebcksvz.supabase.co

# Anon/public API key (from Project Settings -> API)
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprdHpyeHV3b21lY2xlYmNrc3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NDY4NDcsImV4cCI6MjEwMDAyMjg0N30.hjzIkfPM3I5zExyYu0zjZCosA-hdzdNDVf4sUdJm2M4
